<h2 style="text-align: center;margin-top:20px">Edit your profile</h2><br>



<form action="/update/{{user._id}}" enctype="multipart/form-data" method="post" style="margin: 0 20px;">
  
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <input type="text" name="username" id="username" type="text" class="form-control is-valid" id="validationServer01" placeholder="username" value="{{user.username}}"
      required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

<div "form-row">
 <div class="col-md-2 mb-7">
     <label for="gender" style="color: white; font-size:smaller" > What's your gender?</label>
      <select value="{{user.gender}}" name="gender" class="custom-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" required>
        <option value="0">Gender</option>
        <option  value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <div id="validationServer04Feedback" class="invalid-feedback">
      </div>
    </div>

 <div class="col-md-2 mb-7">
     {{!-- <label for="interest" style="color: white; font-size:smaller" > what are you looking for?</label> --}}
      <select name="interest" class="custom-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" required>
      <option  value="{{user.interest}}"> What are you looking for?</option>
        <option  value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <div id="validationServer04Feedback" class="invalid-feedback">
      </div>
    </div>
</div>

  <h2 style="text-align:center;">Birth information</h2>





  <div class="form-row"></div>
<div class="col-md-6 mb-3"></div>
    <input value="{{user.birthDate.date}}" type="Number" name="day"class="form-control is-valid" id="validationServer01" placeholder="day" required > 
      <div class="valid-feedback">
        Looks good!
      </div>
 </div>  
<br>
 <div  class="col-md-2 mb-7">
     {{!-- <label for="month" style="color: white; font-size:smaller" > month</label> --}}
      <select value="{{user.birthDate.month}}" name="month" class="custom-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" required>
      <option value="0"> Month</option>
      <option value="1"> January</option>
      <option value="2">February</option>
      <option value="3"> March</option>
      <option value="4">April</option>
      <option value="5"> May</option>
      <option value="6">June</option>
      <option value="7"> July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10"> October</option>
      <option value="11">November</option>
      <option value="12"> December</option>
      </select>
      <div id="validationServer04Feedback" class="invalid-feedback">
      </div>
    </div>
</div>

 <div class="form-row"></div>
<div class="col-md-6 mb-3"></div>
    <input type="Number" name="year"class="form-control is-valid" id="validationServer01" placeholder="year" value="{{user.birthDate.year}}" required > 
      <div class="valid-feedback">
        Looks good!
      </div>
 </div>  

 <div class="form-row"></div>
<div class="col-md-6 mb-3"></div>
    <input type="Number" name="hour"class="form-control is-valid" id="validationServer01" placeholder="hour" value=" {{user.birthDate.hour}}" required > 
      <div class="valid-feedback">
        Looks good!
      </div>
 </div>  






 <div class="form-row"></div>
<div class="col-md-6 mb-3"></div>
    <input type="Number" name="minutes"class="form-control is-valid" id="validationServer01" placeholder="minutes" value="
{{user.birthDate.minutes}}" required > 
      <div class="valid-feedback">
        Looks good!
      </div>
 </div>  

     <label for="place" style="color: white; font-size:small" > Place of birth</label>
  <div id="map" style="width: 279px; height: 250px"></div>
  <hr>

   <label style="color: white; font-size:small" for="image">Show us your best picture:</label>
  <input type="file" name="image" id="image" class="form-control-file" value="{{user.profilePicture}}" />
<br>
<div class="form-group">
    <div class="form-check">
      <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
      <label class="form-check-label" for="invalidCheck3">
        Agree to terms and conditions
      </label>
      <div  id="invalidCheck3Feedback" class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <button class="btn btn-success" type="submit">Create</button>

 {{!-- geolocalization --}}


  <input type="text" name="latitude" id="latitude" style="display:none" value="{{user.birthDate.latitude}}">
  <input type="text" name="longitude" id="longitude" style="display:none"value="{{user.birthDate.longitude}}">
  <input type="text" name="lati" id="lati" style="display:none">
  <input type="text" name="longi" id="longi" style="display:none">
</form>



<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiaXNhZmVycmFyYSIsImEiOiJja2hjbnB5aHkwMm4yMnJycnJzNjZ6bWYwIn0.7s8wi3l0DnRJskfCjlmXOg';
  var map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/streets-v11"
  });
  const gc = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
  })
  let mapi= gc.on('result', e => {
    const { result: { center, place_name } } = e
    document.querySelector('#longitude').value = center[0]
    document.querySelector('#latitude').value = center[1]   
    //document.querySelector('#address').value= place_nam
  })
 map.addControl(gc);
</script>