<h1>Edit your profile</h1>
<form action="/update/{{user._id}}" enctype="multipart/form-data" method="post">
  <br>
  <h2>Profile information</h2>
  <label for="username"> Username
    <input type="text" name="username" id="username" value="{{user.username}}">
  </label>
  <br>
  <label for="gender"> Gender
    <select name="gender" id="gender" value="{{user.gender}}">
      <option value="male"> Male</option>
      <option value="female">Female</option>
    </select>
  </label>
  <br>
  <label for="interest"> what are you looking for?
    <select name="interest" id="interest" value="{{user.gender}}">
      <option value="male"> Male</option>
      <option value="female">Female</option>
    </select>
  </label>
  <br>
  <label for="plan"> Suscription plan
    <select name="plan" id="plan" value="{{user.plan}}">
      <option value="basic"> basic</option>
      <option value="super">Super</option>
    </select>
  </label>
  <br>
  {{!-- $ npm install cloudinary multer multer-storage-cloudinary --}}
  <label for="profilePicture">Show us your best picture:</label>
  <input type="file" name="image" id="image" class="form-control-file" />
  <button type="submit">submit</button>
</form>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiaXNhZmVycmFyYSIsImEiOiJja2hjbnB5aHkwMm4yMnJycnJzNjZ6bWYwIn0.7s8wi3l0DnRJskfCjlmXOg';
  var map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/streets-v11"
  });
  const gc = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
  })
  let mapi = gc.on('result', e => {
    const { result: { center, place_name } } = e
    document.querySelector('#longitude').value = center[0]
    document.querySelector('#latitude').value = center[1]
    //document.querySelector('#address').value= place_nam
  })
  map.addControl(gc);
</script>