<h1>Dashboard</h1>
<ul>
  <li><a href="/make-a-match">Make a Match</a></li>
  <li><a href="/today">Today</a></li>
  <li><a href="/matches">Matches</a></li>
  <li><a href="update/{{_id}}"> Update profile</a></li>
  <li><a href="delete/{{_id}}"> delete profile</a></li>
</ul>

<h3>health</h3>
<p>{{health}}</p>
<h3>Personal Life</h3>
<p>{{personal_life}}</p>
<h3>Profession</h3>
<p>{{profession}}</p>
<h3>Emotions</h3>
<p>{{emotions}}</p>
<h3>Travel</h3>
<p>{{travel}}</p>
<h3>Luck</h3>
<p>{{luck}}</p>