{{#if (idCheck matchId ../_id)}}

<nav class="position-absolute w-100 px-4 pt-3" style="z-index:5">
  <div class="d-flex justify-content-between align-items-center">
    <a data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <img class="rounded-circle" style="height: 50px; width: 50px;" src="{{match.matchProfilePicture}}"
        alt="User Profile Page">
    </a>
    <a href="javascript:history.back()">Back</a>
  </div>
  <div class="collapse mt-2" id="collapseExample">
    <div class="card text-center text-white" id="menu-card">
      <div class="card-body">
        <h5 class="card-title mb-4">{{match.matchUsername}}</h5>
        <div class="container">
          <div class="row">
            <div class="col">
              <div>
                <img class="rounded-circle mx-auto d-block mb-3" style="height: 50px;"
                  src="images/{{match.matchZodiacSign}}.png" alt="Zodiac Sign">
              </div>
              <p>{{match.matchZodiacSign}}</p>
            </div>
            <div class="col">
              <div style="height:50px; font-size:24px; margin-top:16px">
                <p><strong>{{match.score}}</strong></p>
              </div>
              <p>Score</p>
            </div>
          </div>
          <hr>
          <div class="d-flex flex-column">
            <p>
              {{match.report}}
            </p>
          </div>
        </div>
      </div>
    </div>
</nav>

{{else}}

<nav class="position-absolute w-100 px-4 pt-3" style="z-index:5">
  <div class="d-flex justify-content-between align-items-center">
    <a data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <img class="rounded-circle" style="height: 50px; width: 50px;" src="{{match.ownerProfilePicture}}"
        alt="User Profile Page">
    </a>
    <a href="javascript:history.back()">Back</a>
  </div>
  <div class="collapse mt-2" id="collapseExample">
    <div class="card text-center text-white" id="menu-card">
      <div class="card-body">
        <h5 class="card-title mb-4">{{match.ownerhUsername}}</h5>
        <div class="container">
          <div class="row">
            <div class="col">
              <div>
                <img class="rounded-circle mx-auto d-block mb-3" style="height: 50px;"
                  src="images/{{match.ownerZodiacSign}}.png" alt="Zodiac Sign">
              </div>
              <p>{{match.ownerZodiacSign}}</p>
            </div>
            <div class="col">
              <div style="height:50px; font-size:24px; margin-top:16px">
                <p><strong>{{match.score}}</strong></p>
              </div>
              <p>Score</p>
            </div>
          </div>
          <hr>
          <div class="d-flex flex-column">
            <p>
              {{match.report}}
            </p>
          </div>
        </div>
      </div>
    </div>
</nav>

{{/if}}


<p id="room_id" style="display: none;">{{match._id}}</p>
<p id="room_user" style="display: none;">{{user.username}}</p>

<div id="messages" class="container" style="padding-top: 25%">
  {{!-- Messages --}}
</div>


<form id="chat" action="" class="fixed-bottom"
  style="margin-bottom: 5px; display:flex; align-items:flex-end; flex-wrap: nowrap; padding: 10px; background-color: black;">
  <input id="m" autocomplete="off" type="text" class="form-control" placeholder="Write a message"
    aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary btn-success" id="button-addon2"
      style="color: white; margin-left: 10px">Send</button>
  </div>
</form>
</nav>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

  $(function () {
    let room = document.querySelector('#room_id').innerHTML
    let roomUser = document.querySelector('#room_user').innerHTML
    let messages = document.querySelector('#messages')
    let socket = io();

    socket.emit('room', room);
    socket.emit('user', roomUser)

    $('form').submit(function (e) {
      e.preventDefault(); // prevents page reloading
      socket.emit('chat message', $('#m').val(), roomUser);
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function (msg, user) {
      console.log(user)
      let message = document.createElement('div');
      message.innerHTML = (`
        <div class="alert alert-light" role="alert">
          <strong>${user}: </strong>${msg}
        </div>
        `)
      messages.appendChild(message);
    });
  });

</script>