<h1>Matches</h1>

{{#each notifications}}

{{match}}
<a href="/matches/{{_id}}/{{id}}">accept</a>

{{/each}}

{{#each matches}}

{{#if (idCheck matchId ../_id)}}
{{ownerUsername}}

{{else}}
{{matchUsername}}

{{/if}}

<a href="/matches/{{_id}}">details</a>

{{/each}}