<h1>Match</h1>
{{#each matches}}
<h2>{{user}}</h2>
<p>{{zodiacSign}}</p>
<p>{{score}}</p>
<p>{{report}}</p>

<form action="/matches" method="post">
  <input type="text" name="id" value="{{id}}" style="display:none">
  <input type="text" name="user" value="{{user}}" style="display:none">
  <input type="text" name="zodiacSign" value="{{zodiacSign}}" style="display:none">
  <input type="number" name="score" value="{{score}}" style="display:none">
  <input type="text" name="report" value="{{report}}" style="display:none">

  <button type="submit">Make Match</button>
</form>

{{/each}}