<h1>Match</h1>
{{#each matches}}
<h2>{{user}}</h2>
<p>{{zodiacSign}}</p>
<p>{{score}}</p>
<p>{{report}}</p>

<a href="/matches">make a match</a>

<form action="/matches" method="post">
  <input type="text" name="id" value="{{id}}">
  <input type="text" name="user" value="{{user}}">
  <input type="text" name="zodiacSign" value="{{zodiacSign}}">
  <input type="number" name="score" value="{{score}}">
  <input type="text" name="report" value="{{report}}">

  <button type="submit">Make Match</button>
</form>

{{/each}}