<h1>Match</h1>
{{#each matches}}
<h2>{{matchUsername}}</h2>
<p>{{matchZodiacSign}}</p>
<p>{{score}}</p>
<p>{{report}}</p>

<form action="/matches" method="post">
  <input type="text" name="matchId" value="{{matchId}}" style="display:none">
  <input type="text" name="matchUsername" value="{{matchUsername}}" style="display:none">
  <input type="text" name="matchZodiacSign" value="{{matchZodiacSign}}" style="display:none">
  <input type="text" name="matchProfilePicture" value="{{matchProfilePicture}}" style="display:none">
  <input type="text" name="ownerUsername" value="{{ownerUsername}}" style="display:none">
  <input type="text" name="ownerZodiacSign" value="{{ownerZodiacSign}}" style="display:none">
  <input type="text" name="ownerProfilePicture" value="{{ownerProfilePicture}}" style="display:none">
  <input type="number" name="score" value="{{score}}" style="display:none">
  <input type="text" name="report" value="{{report}}" style="display:none">

  <button type="submit">Make Match</button>
</form>

{{/each}}